h2{
  color: orange;
  text-align: center;
}
 header p{
  color: green;
}
header p span{
  color:blue;
}
.highLights{
  background-color: yellow;
}
.abra{
  background-color: green;
/*  border-top:10px red solid;
  border-bottom: 10px red solid;
  border-right: 10px red solid;
  border-left: 10px red solid;*/

}
/* this section is about putting two divs side by side */
.container{
  max-width: 940px;/*This is to give a maximum width to a container or a div. */
/* This is to center the container*/
  margin-right: auto;
  margin-left: auto;
}
