h2{
  color: orange;
  text-align: center;
}
 header p{
  color: green;
}
header p span{
  color:blue;
}
.highLights{
  background-color: yellow;
}
.abra{
  background-color: green;
/*  border-top:10px red solid;
  border-bottom: 10px red solid;
  border-right: 10px red solid;
  border-left: 10px red solid;*/
    border:10px red solid;
    padding: :10px blue solid;
    margin:10px yellow solid;
}
